.Order {
  width: 100%;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  padding: 10px;
  margin: 10px auto;
  box-sizing: border-box;
}

.CloseOrder {
  float: right;
  cursor: pointer;
  font-weight: 800;
  color: #999;
}