.NavigationItems {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100%;
}
.NavigationItems a:hover,
.NavigationItems a:active,
.NavigationItems a.active {
  background-color: #8f5c2c;
  border-bottom: 4 solid #40A4CB;
  color: #FFF;
}
@media (min-width: 500px) {
  .NavigationItems {
      flex-flow: row;
  }
}